ul.dropdown {
  font: normal 0.7em Arial,Sans-Serif;
}

	ul.dropdown li {
  margin-right: 1px;
	}

	ul.dropdown li.hover,
	ul.dropdown li:hover,
	ul.dropdown li.actual {
	}

	ul.dropdown li a:link,
	ul.dropdown li a:visited	{
  display: block;
  color: white;
  padding: 3px 5px 3px 5px;
  text-decoration: none;
  background-color: #05723B;
  }
  ul.dropdown li a:hover {
	background-color: #009050;
  }

	/* -- level mark -- */

	ul.dropdown ul {
	 margin-top: 0px;
	 margin-left:3px;
	}

		ul#nav.dropdown li ul li {
		 background-image: none;
		 width: 80px;

		}
		ul#nav.dropdown li ul li:hover {
		background-image: none;
		}
		ul#nav.dropdown li ul li a {
		display: block;
		height: 16px;
		font: normal 0.8em Arial,Sans-Serif;

		}
		ul#nav.dropdown li ul li a:hover {
		background-image: none;
		}