body {
	font: normal 1em/1.2em Arial,Sans-Serif;
	color: #333;
	background-color: #f0f0f0;
	text-align: center;
}

img, embed, object, video {
  max-width: 100%;
}

img {
border: 0px;
}


/*===============*/
/*=== RELLENO ===*/
/*===============*/
header{ border: 1px dotted red; padding: 10px; margin: 10px; background-color: #fff; }
nav{ border: 1px dotted red; padding: 10px; margin: 10px; background-color: #fff; }
section{ border: 1px dotted red; padding: 10px; margin: 10px; background-color: #fff; }
article{ border: 1px dotted red; padding: 10px; margin: 10px; background-color: #fff; }
aside{ border: 1px dotted red; padding: 10px; margin: 10px; background-color: #fff; }
footer{ border: 1px dotted red; padding: 10px; margin: 10px; background-color: #fff; }
div#contenedor { min-width: 560px; max-width: 990px; margin: 0 auto; vertical-align: top; border: 1px dotted blue; text-align: left; }
div#contenedor2 { text-align: left; }
section#contenido { display: inline-block; vertical-align: top; min-width: 560px; max-width: 700px; box-sizing:border-box; -moz-box-sizing:border-box; }
section#lateral{ display: inline-block; vertical-align: top; width: 200px; }

@media screen and (max-width:600px){
	header { background-color: yellow; }
}

/*===============*/
/*=== RELLENO ===*/
/*===============*/


/*======================*/
/*=== CLASES SUELTAS ===*/
/*======================*/
.expansor { clear: both; }



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}





/*=================================*/
/*=== Custom ColorPicker Styles ===*/
/*=================================*/
#colorSelector {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(../imagenes/colorpicker/select.png);
}
#colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(../imagenes/colorpicker/select.png) center;
}
